// config for the aging aquila cluster at the Genome Institute of Singapore
process {
    executor = 'sge'
    clusterOptions = { "-l mem_free=" + task.memory.toString().replaceAll(/[\sB]/,'') }
    penv = 'OpenMP'
    // auto translate container name into conda environment name
    // `set -u` triggers `CONDA_PATH_BACKUP: unbound variable` on `source activate`
    beforeScript = { 'source /mnt/projects/rpd/rc/init.2017-04; module load miniconda3; set +u; source activate ' + params.container.replaceAll(/[\/:]/, '-').replaceAll(/nfcore/, 'nf-core') + "; set -u;"}
}


