process {

  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  withLabel:'small'{
      cpus = { check_max( 2, 'cpus' ) }
      memory = { check_max( 1.GB * task.attempt, 'memory' ) }
      time = { check_max( 1.h * task.attempt, 'time' ) }
  }

  withLabel:'medium' {
      cpus = { check_max( 8, 'cpus' ) }
      memory = { check_max( 8.GB * task.attempt, 'memory' ) }
      time = { check_max( 8.h * task.attempt, 'time' ) }
  }

  withLabel:'large'{
      cpus = { check_max( 32, 'cpus' ) }
      memory = { check_max( 350.GB * task.attempt, 'memory' ) }
      time = { check_max( 160.h * task.attempt, 'time' ) }
  }

  withName:'quast'{
      cpus = { check_max( 2, 'cpus' ) }
      memory = { check_max( 1.GB * task.attempt, 'memory' ) }
      time = { check_max( 1.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/quast:5.0.2--py27pl526ha92aebf_0'
  }
  withName:'adapter_trimming'{
      cpus = { check_max( 12, 'cpus' ) }
      memory = { check_max( 32.GB * task.attempt, 'memory' ) }
      time = { check_max( 1.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/porechop:0.2.3_seqan2.1.1--py36h2d50403_3'
  }
  
  withName:'unicycler'{
      cpus = { check_max( 28, 'cpus' ) }
      memory = { check_max( 450.GB * task.attempt, 'memory' ) }
      time = { check_max( 72.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/unicycler:0.4.4--py38h8162308_3'
  }

  withName:'dfast'{
      cpus = { check_max( 8, 'cpus' ) }
      memory = { check_max( 16.GB * task.attempt, 'memory' ) }
      time = { check_max( 8.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/dfast:1.2.5--py38h8b12597_0'
  }

  withName:'medaka'{
      cpus = { check_max( 8, 'cpus' ) }
      memory = { check_max( 250.GB * task.attempt, 'memory' ) }
      time = { check_max( 8.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/medaka:0.11.0--py36hbcae180_0'
  }

  withName:'canu_assembly'{
      cpus = { check_max( 32, 'cpus' ) }
      memory = { check_max( 350.GB * task.attempt, 'memory' ) }
      time = { check_max( 160.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/canu:2.0--he1b5a44_0'
  }
  
  withName:'pycoqc' {
      cpus = { check_max( 8, 'cpus' ) }
      memory = { check_max( 8.GB * task.attempt, 'memory' ) }
      time = { check_max( 8.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/pycoqc:2.5.0.23--py_0'
  }

  withName:'prokka'{
      cpus = { check_max( 32, 'cpus' ) }
      memory = { check_max( 350.GB * task.attempt, 'memory' ) }
      time = { check_max( 160.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
  }

  withName:'nanopolish'{
      cpus = { check_max( 32, 'cpus' ) }
      memory = { check_max( 350.GB * task.attempt, 'memory' ) }
      time = { check_max( 160.h * task.attempt, 'time' ) }
      container = 'quay.io/biocontainers/mulled-v2-47609127678014b991aafdfe3c9141852f17fee7:11970b07a8fd8f9441c3235a979d527c7df52d34-0'
  }

  params {
      // Defaults only, expecting to be overwritten
      max_memory = 64.GB
      max_cpus = 32
      max_time = 24.h
      igenomes_base = 's3://ngi-igenomes/igenomes/'
  }
}
