process {

  cpus = { check_max( 1, 'cpus' ) }
  memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  withLabel:'small'{
      cpus = { check_max( 2, 'cpus' ) }
      memory = { check_max( 1.GB * task.attempt, 'memory' ) }
      time = { check_max( 1.h * task.attempt, 'time' ) }
  }

  withLabel:'medium' {
      cpus = { check_max( 8, 'cpus' ) }
      memory = { check_max( 8.GB * task.attempt, 'memory' ) }
      time = { check_max( 8.h * task.attempt, 'time' ) }
  }

  withLabel:'large'{
      cpus = { check_max( 32, 'cpus' ) }
      memory = { check_max( 125.GB * task.attempt, 'memory' ) }
      time = { check_max( 48.h * task.attempt, 'time' ) }
  }

  withName:'quast'{
      cpus = { check_max( 2, 'cpus' ) }
      memory = { check_max( 1.GB * task.attempt, 'memory' ) }
      time = { check_max( 1.h * task.attempt, 'time' ) }
      container = 'nfcore/bacassquast:dev'
  }
  withName:'adapter_trimming'{
      cpus = { check_max( 12, 'cpus' ) }
      memory = { check_max( 32.GB * task.attempt, 'memory' ) }
      time = { check_max( 1.h * task.attempt, 'time' ) }
      container = 'nfcore/bacassporechop:dev'
  }
  withName:'multiqc'{
      cpus = { check_max( 1, 'cpus' ) }
      memory = { check_max( 4.GB * task.attempt, 'memory' ) }
      time = { check_max( 2.h * task.attempt, 'time' ) }
      container = 'ewels/multiqc:1.7'
  }
  


  params {
      // Defaults only, expecting to be overwritten
      max_memory = 64.GB
      max_cpus = 32
      max_time = 24.h
      igenomes_base = 's3://ngi-igenomes/igenomes/'
  }
}
