/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'fastqc' {
            args = "--quiet"
        }
        'skewer' {
            args = "-m pe -q 3 -n --quiet"
            publish_dir = "./trimming/shortreads/"
            publish_by_meta = true
        }
        'nanoplot' {
            args = ""
            publish_dir = "./QC_longreads/NanoPlot"
        }
        'pycoqc' {
            args = ""
            publish_dir = "./QC_longreads/PycoQC"
        }
        'porechop' {
            args = ""
            publish_dir = "./trimming/longreads/"
        }
        'unicycler' {
            args = ""
            publish_dir = "./Unicycler"
        }
        'canu' {
            args = ""
            publish_dir = "./Canu"
        }
        'minimap_align' {
            args = ""
            publish_files = false
        }
        'miniasm' {
            args = ""
            publish_files = [ '_assembly.fasta':'' ]
            publish_dir = "./Miniasm"
        }
        'racon' {
            args = ""
            publish_files = [ '_assembly_consensus.fasta':'' ]
            publish_dir = "./Miniasm/Racon"
        }
        'kraken2' {
            args = ""
        }
        'quast' {
            args = ""
        }
        'prokka' {
            args = ""
        }
        'dfast' {
            args = ""
        }
        'multiqc' {
            args = ""
        }
    }
}
