/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//       Let modules.config to store module configurations that share both shortreads and longreads
process {

    withName: 'NANOPLOT' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/reads_qc/longreads/nanoplot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TOULLIGQC' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/reads_qc/longreads/toulligqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PYCOQC' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/reads_qc/longreads/pycoqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PORECHOP_PORECHOP' {
        ext.args = ''
        ext.prefix = { "${meta.id}.porechop" }
        publishDir = [
            [
                path: { "${params.outdir}/reads_qc/longreads/porechop" },
                pattern: "*.fastq.gz",
                mode: params.publish_dir_mode,
                enabled: params.save_trimmed
            ],
            [
                path: { "${params.outdir}/reads_qc/longreads/porechop" },
                pattern: "*.log",
                mode: params.publish_dir_mode,
            ]
        ]
    }

    withName: 'FILTLONG' {
        ext.args = params.filtlong_args ? "${params.filtlong_args}" : "--min_length ${params.filtlong_minlen}"
        ext.prefix = { "${meta.id}.filtlong" }
        publishDir = [
            [
                path: { "${params.outdir}/reads_qc/longreads/filtlong" },
                pattern: "*.fastq.gz",
                mode: params.publish_dir_mode,
                enabled: params.save_trimmed
            ],
            [
                path: { "${params.outdir}/reads_qc/longreads/filtlong" },
                pattern: "*.log",
                mode: params.publish_dir_mode,
            ]
        ]
    }

    withName: 'AUTOCYCLER_SUBSAMPLE' {
        ext.args = { [
            "--count ${params.autocycler_subsample_count}",
            "--min_read_depth ${params.autocycler_subsample_mindepth}",
            "--seed 1",
            ].join(' ').trim()
        }
    }

    withName: 'RASUSA' {
        ext.args = ''
        ext.prefix = { "${meta.id}.rasusa" }
        publishDir = [
            [
                path: { "${params.outdir}/reads_qc/longreads/rasusa" },
                pattern: "*.fastq.gz",
                mode: params.publish_dir_mode,
                enabled: params.save_trimmed
            ],
            [
                path: { "${params.outdir}/reads_qc/longreads/rasusa" },
                pattern: "*.log",
                mode: params.publish_dir_mode,
            ]
        ]
    }

    withName: 'UNICYCLER' {
        ext.args = params.unicycler_args ? "${params.unicycler_args}" : ''
        publishDir = [
            path: { "${params.outdir}/assembly/unicycler" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CANU' {
        ext.args = {
            [ params.canu_args ? "${params.canu_args}" : '',
            "merylMemory=${task.memory.toGiga()}G",
            "merylThreads=$task.cpus",
            "hapThreads=${task.cpus}",
            "batMemory=${task.memory.toGiga()}G",
            "redMemory=${task.memory.toGiga()}G",
            "redThreads=${task.cpus}",
            "oeaMemory=${task.memory.toGiga()}G",
            "oeaThreads=${task.cpus}",
            "corMemory=${task.memory.toGiga()}G",
            "corThreads=${task.cpus}"
            ].join(' ').trim()
        }
        publishDir = [
            path: { meta.subsample ? "${params.outdir}/assembly/autocycler/canu" : "${params.outdir}/assembly/canu" }, // meta.subsample is true with autocycler
            mode: params.publish_dir_mode,
            pattern: "*.{contigs.fasta.gz,report}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args = '-x ava-ont'
    }

    withName: 'MINIMAP2_CONSENSUS' {
        ext.args = '-x map-ont'
    }

    withName: 'MINIMAP2_POLISH' {
        ext.args = '-x map-ont'
    }

    withName: 'MINIASM' {
        ext.args = ''
        publishDir = [
            path: { meta.subsample ? "${params.outdir}/assembly/autocycler/miniasm" : "${params.outdir}/assembly/miniasm" }, // meta.subsample is true with autocycler
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RACON' {
        ext.args = ''
        publishDir = [
            path: { meta.subsample ? "${params.outdir}/assembly/autocycler/miniasm" : "${params.outdir}/assembly/miniasm" }, // meta.subsample is true with autocycler
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DRAGONFLYE' {
        ext.args = {
            if ( meta.gsize && !meta.gsize.equals('NA') ){
                if ( !params.dragonflye_args.contains("--gsize") ) {
                    "--gsize ${meta.gsize} ${params.dragonflye_args}"
                } else {
                    params.dragonflye_args ?: ''
                }
            } else {
                params.dragonflye_args ?: ''
            }
        }
        publishDir = [
            path: { "${params.outdir}/assembly/dragonflye" },
            mode: params.publish_dir_mode,
            pattern: "*.{fa,log}",
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    null
                } else if (filename.endsWith('.log')) {
                    "${meta.id}.${filename}"
                } else {
                    filename
                }
            }
        ]
    }

    withName: 'MEGAHIT' {
        ext.args = params.megahit_args ? "${params.megahit_args}" : ''
        ext.args2 = ''
        publishDir = [
            path: { "${params.outdir}/assembly/megahit" },
            mode: params.publish_dir_mode,
            pattern: "*.{contigs.fa.gz,log}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RAVEN' {
        ext.args = ''
        publishDir = [
            path: { meta.subsample ? "${params.outdir}/assembly/autocycler/raven" : "${params.outdir}/assembly/raven" }, // meta.subsample is true with autocycler
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FLYE' {
        ext.args = ''
        publishDir = [
            path: { meta.subsample ? "${params.outdir}/assembly/autocycler/flye" : "${params.outdir}/assembly/flye" }, // meta.subsample is true with autocycler
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'AUTOCYCLER_CLUSTER' {
        ext.args = { params.autocycler_cluster_args ? "${params.autocycler_cluster_args}" : '' }
    }

    withName: 'AUTOCYCLER_TRIM' {
        ext.prefix = { "${meta.id}_${meta.cluster}" }
    }

    withName: 'AUTOCYCLER_RESOLVE' {
        ext.prefix = { "${meta.id}_${meta.cluster}" }
    }

    withName: 'AUTOCYCLER_COMBINE' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/assembly/autocycler" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MEDAKA' {
        ext.args = ''
        ext.prefix = { "${meta.id}_polished_genome" }
        publishDir = [
            path: { "${params.outdir}/assembly/polishing/medaka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NANOPOLISH' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/assembly/polishing/nanopolish" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KRAKEN2' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/taxonomy/kraken2/shortreads" },
            mode: params.publish_dir_mode,
            pattern: "*report.txt",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KRAKEN2_LONG' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/taxonomy/kraken2/longreads" },
            mode: params.publish_dir_mode,
            pattern: "*report.txt",
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    null
                } else {
                    "${filename.replaceFirst('\\..+$', '')}_longreads${filename.substring(filename.lastIndexOf('.'))}"
                }
            }
        ]
    }

    withName: 'QUAST|QUAST_BYREFSEQID' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/assembly_qc/quast" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.endsWith('.tsv')){
                    null
                } else if (filename.startsWith('GCF')){
                    "runs_per_reference/${filename}"
                }
                else {
                    "${filename}"
                }
            }
        ]
    }

    withName: BUSCO_BUSCO {
        ext.args         = ''
        publishDir       = [
            path: { "${params.outdir}/assembly_qc/busco" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,log,json}",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.startsWith('busco_downloads/')) {
                    return null
                }
                filename
            }
        ]
    }

    withName: 'PROKKA' {
        ext.args = params.prokka_args ? "${params.prokka_args}" : ''
        publishDir = [
            path: { "${params.outdir}/annotation/prokka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DFAST' {
        ext.args  = ''
        ext.args2 = ''
        publishDir = [
            path: { "${params.outdir}/annotation/dfast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LIFTOFF' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/annotation/liftoff" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUSTOM_MULTIQC' {
        ext.args = '-k yaml'
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_RAW' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/reads_qc/shortreads/fastqc/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_TRIM' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/reads_qc/shortreads/fastqc/trimmed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:.*:FASTQ_TRIM_FASTP_FASTQC:FASTP' {
        ext.args = params.fastp_args ? params.fastp_args : ''
        publishDir = [
            [
                path: { "${params.outdir}/reads_qc/shortreads/fastp/trimmed_reads" },
                mode: params.publish_dir_mode,
                pattern: "*.fastp.fastq.gz",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_trimmed
            ],
            [
                path: { "${params.outdir}/reads_qc/shortreads/fastp/reports" },
                mode: params.publish_dir_mode,
                pattern: "*.{json,html}"
            ],
            [
                path: { "${params.outdir}/reads_qc/shortreads/fastp/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { "${params.outdir}/reads_qc/shortreads/fastp/failed_reads" },
                mode: params.publish_dir_mode,
                pattern: "*.fail.fastq.gz",
                enabled: params.save_trimmed_fail
            ]
        ]
    }

    withName: '.*:.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_TRIM' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/reads_qc/shortreads/fastqc/trimmed" },
            mode: params.publish_dir_mode,
            pattern: "*.{json,html}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:.*:KMERFINDER_SUMMARY_DOWNLOAD:KMERFINDER_KMERFINDER' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/taxonomy/kmerfinder/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,json}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:.*:KMERFINDER_SUMMARY_DOWNLOAD:KMERFINDER_SUMMARY' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/taxonomy/kmerfinder" },
            mode: params.publish_dir_mode,
            pattern: "*.csv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:.*:KMERFINDER_SUMMARY_DOWNLOAD:NCBI_DATASETS_DOWNLOAD' {
        ext.args = '--include genome,gff3'
        publishDir = [
            path: { "${params.outdir}/taxonomy/kmerfinder/winner_reference" },
            mode: params.publish_dir_mode,
            pattern: "*.{fna,gff}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:.*:BAKTA_DBDOWNLOAD_RUN:BAKTA_BAKTADBDOWNLOAD' {
        ext.args = params.baktadb_download_args ? params.baktadb_download_args : ''
    }

    withName: '.*:.*:BAKTA_DBDOWNLOAD_RUN:BAKTA_BAKTA' {
        ext.args    = ''
        publishDir  = [
            path: { "${params.outdir}/annotation/bakta/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
