/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bacass -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  skip_kraken2 = true
  // some extra args to speed tests up
  unicycler_args=" --no_correct --no_pilon --kmers 33"
  prokka_args=" --fast"
  // Input data
  readPaths = [
    ['ERR044595', ['https://github.com/andreas-wilm/test-datasets/raw/bacass/ERR044595_1M_1.fastq.gz', 'https://github.com/andreas-wilm/test-datasets/raw/bacss/ERR044595_1M_2.fastq.gz']],
    ['ER064912', ['https://github.com/andreas-wilm/test-datasets/raw/bacass/ERR064912_1M_1.fastq.gz', 'https://github.com/andreas-wilm/test-datasets/raw/bacass/ERR064912_1M_2.fastq.gz']]
   ]
}
