/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bacass -profile test_long_dragonflye,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test_long_dragonfyle profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/bacass/bacass_long_miniasm.tsv'

    // some extra args to speed tests up
    prokka_args = " --fast"
    assembly_type = 'long'
    assembler = 'dragonflye'
    skip_kraken2 = true
    skip_polish = true
    skip_kmerfinder = true
}
