/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bacass -profile test_long
 */
includeConfig 'test.config'

params {
  config_profile_name = 'Test profile for long-read data'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // some extra args to speed tests up
  prokka_args=" --fast"
  assembly_type='long'
  assembler = 'miniasm'
  skip_polish = true
  // Input data
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/bacass/bacass_long_miniasm.csv'
}