/*
========================================================================================
    Nextflow config file for running the heterogeneous auto assembly test
========================================================================================
    Defines input files and everything required to validate per-sample assembly type
    autodetection with short-only, long-only, and hybrid samples.

    Use as follows:
        nextflow run nf-core/bacass -profile test_auto,<docker/singularity>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 16,
        memory: '64.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Test_auto_heterogeneous profile'
    config_profile_description = 'Heterogeneous test dataset to validate per-sample auto assembly routing'

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/bacass/bacass_auto_heterogeneous.csv'

    // Auto assembly routing
    assembly_type           = 'auto'
    assembler               = 'canu,unicycler,megahit,miniasm,raven'
    canu_args               = 'stopOnLowCoverage=0 minInputCoverage=0.1'

    // some extra args to speed tests up
    prokka_args             = ' --fast'
    skip_pycoqc             = true
    skip_kraken2            = true
    skip_kmerfinder         = true
}
