/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bacass -profile test_multiassembler,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test_multiassembler profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with multiple assemblers'

    // Input data
    input = params.pipelines_testdata_base_path + 'bacass/bacass_long_miniasm.tsv'

    // activate autocycler
    assembler = "autocycler,miniasm,raven"
    autocycler_assemblers = "flye,raven"
    canu_args = "minInputCoverage=5 stopOnLowCoverage=5"
    autocycler_subsample_count = 2
    autocycler_subsample_mindepth = 5
    autocycler_cluster_args = "--cutoff 0.4 --min_assemblies 1 --max_contigs 100" // not recommended, just for testing purpose!
    polish_method = "medaka"

    // some extra args to speed tests up
    prokka_args     = " --fast"
    assembly_type   = 'long'
    skip_kraken2    = true
    skip_kmerfinder = true
    skip_busco      = true
}
