/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bacass -profile test_long,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test_long profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/bacass/bacass_long.csv'

    // some extra args to speed tests up
    prokka_args = " --fast"
    canu_args = 'stopOnLowCoverage=0 minInputCoverage=0'
    assembly_type = 'long'
    skip_polish = true
}