/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bacass -profile test_dfast,<docker/singularity>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test_dfast profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = params.pipelines_testdata_base_path + 'bacass/bacass_short.tsv'

    // some extra args to speed tests up
    annotation_tool = 'liftoff'
    assembly_type   = 'short'
    skip_pycoqc     = true
    skip_kraken2    = true
    skip_kmerfinder = true
}
