/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bacass -profile test_long_ont,<docker/singularity>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test fly and Polishing ONT'
    config_profile_description = 'Fly and Polishing test dataset to check pipeline function'

    // Input data
    input = params.pipelines_testdata_base_path + 'bacass/bacass_long_miniasm.tsv'
    // some extra args to speed tests up
    assembler        ='fly'
    seqkit_mode      = '-s'
    assembly_type    = "long"
    skip_seqkit      = false
    skip_polishing   = false

    // QC
    skip_kraken2      = true
    skip_kmerfinder   = true

}
