/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bacass -profile test_dfast
 */

params {
  config_profile_name = 'Test profile with dfast as annotation tool'
  config_profile_description = 'Minimal test dataset to check pipeline function, using dfast instead of prokka for annotation'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  skip_kraken2 = true
  // some extra args to speed tests up
  unicycler_args="--no_correct --no_pilon"
  annotation_tool = 'dfast'
  assembly_type = 'short'
  skip_pycoqc = true
  // Input dataset
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/bacass/bacass_short.csv'
}