/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/bacass -profile test_full,<docker/singularity>
 */
includeConfig 'test.config'

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // some extra args to speed tests up
  prokka_args=" --fast"
  canu_args='stopOnLowCoverage=0 minInputCoverage=0'
  assembly_type='long'
  skip_polish = true
  // Input data
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/bacass/bacass_long.csv'
}
