/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/bacass -profile test_long_miniasm,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test_long_miniasm profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input = params.pipelines_testdata_base_path + 'bacass/bacass_long_miniasm.tsv'

    // some extra args to speed tests up
    prokka_args     = " --fast"
    assembly_type   = 'long'
    assembler       = 'miniasm'
    kraken2db       = "https://genome-idx.s3.amazonaws.com/kraken/16S_Greengenes13.5_20200326.tgz"
    skip_kmerfinder = true
}
